.fusao{
 height: 100%;
 width: 100%;
}
.h9{
  height: 100%
}
.w9{
  width: 100%
}
.cad{
  padding-left: 20%;
  height: 70%;
  width: 80%;
}
.ent{
  padding-block-start: 10px;
  height: 90%;
  width: 100%;
}
.batatinha{
   height: 100%;
 width: 100%;
}